/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background: linear-gradient(to right, #f9fafb, #d2d6db);
}

* {
  box-sizing: border-box;
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}

.card-container {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.card {
  display: flex;
  width: 340px;
  background-color: white;
  padding: 24px;
  flex-direction: column;
  border-radius: 5px;
}

.card-header {
  display: flex;
}
.profile-thumbnail {
  width: 48px;
  height: 48px;
}

.user-details {
  margin-left: 16px;
  margin-bottom: 16px;
}

.user-details p {
  color: #525252;
  font-size: 0.875rem;
}

.user-info {
  color: #525252;
}
